<p>Please enter the requested information and click submit:</p>

<form  method = "post" action = "post_info">
  <table>
    <tr>
      <td>Name: </td>
      <td><input type = "text" name = "user[user_name]" required></td>
    </tr>
    <tr>
      <td>Age: </td>
      <td><input type = "text" name = "user[user_age]" required></td>
    </tr>
    <tr>
      <td>Favorite Number 1: </td>
      <td><input type = "text" name = "user[num_1]" required></td>
    </tr>
    <tr>
      <td>Favorite Number 2: </td>
      <td><input type = "text" name = "user[num_2]" required></td>
    </tr>
      <td>Favorite Number 3: </td>
      <td><input type = "text" name = "user[num_3]" required></td>
    </tr>
    <tr>
      <td></td>
      <td><input type = "submit"></td>
    </tr>
  </table>
</form>