<div>

  <h4>Please enter the requested information and click submit:</h4>

  <div class = "padding">
    <form  method = "post" action = "post_info">
      <table>
        <tr>
          <td><b>Name: </b></td>
          <td><input type = "text" name = "user[user_name]" required></td>
        </tr>
        <tr>
          <td><b>Age: </b></td>
          <td><input type = "text" name = "user[user_age]" required></td>
        </tr>
        <tr>
          <td><b>Favorite Number 1: </b></td>
          <td><input type = "text" name = "user[num_1]" required></td>
        </tr>
        <tr>
          <td><b>Favorite Number 2: </b></td>
          <td><input type = "text" name = "user[num_2]" required></td>
        </tr>
          <td><b>Favorite Number 3: </b></td>
          <td><input type = "text" name = "user[num_3]" required></td>
        </tr>
        <tr>
          <td></td>
          <td class="button"><input class="button-color" type = "submit"></td>
        </tr>
      </table>
    </form>
  </div>

  <hr>

  <!-- only populated if user already in JSON file -->
  <div class="feedback">
    <p><u><%= feedback %></u></p>
  </div>

</div>