<p>Please enter the requested information and click submit:</p>

<form  method = "post" action = "post_info">
  <p>Name:<input type = "text" name = "user[][user_name]"></p>
  <p>Age:<input type = "text" name = "user[][user_age]"></p>
  <p>Favorite Number 1:<input type = "text" name = "user[][num_1]"></p>
  <p>Favorite Number 2:<input type = "text" name = "user[][num_2]"></p>
  <p>Favorite Number 3:<input type = "text" name = "user[][num_3]"></p>
  <input type = "submit">
</form>