<p><u>Select a user to view corresponding info:</u></p>

<!-- dynamic table to list all users in users.json -->
<% count = 1 %>
<% names.each do |name| %>
  <% url = "/user_info?name=" + name %>
  <table>
    <tr>
      <td width="65px"><p>User <%= count %>: </td>
      <td><a href=<%= url %>><%= name %></a></td>
    </tr>
  </table>
  <% count += 1 %>
<% end %>