body {
  background-color: #D8FFE1;
  color: #356D42;
}

div {
  display: table;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  color: #356D42;
}

h4 {
  text-align: center;
}

hr {
  height: 1px;
  width: 450px;
  border-top: 1px solid #94BA9D;
}

table {
  outline: 1px solid #94BA9D;
  width: 100%;
}

td {
  text-align: left;
  vertical-align: top;
  width: 150px;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #BFEBCA;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.button {
  text-align: right;
}

.button-color {
  background-color: #BFEBCA;
}